<div *ngIf="foodList.length > 0">
  <div *ngIf="isVisibleProd()" class="row">
    <app-foods-food-card
      *ngFor="let food of foodList"
      [curFood]="food"
      [storageList]="chainList"
    >
    </app-foods-food-card>
  </div>
  <ul *ngIf="!isVisibleProd()"class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li class="collapsible-header amber-text">
      <div>Для выбранных торговых сетей нет товаров</div>
    </li>
  </ul>
</div>
<div *ngIf="foodList.length == 0">
  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li class="collapsible-header amber-text">
      <div>Выберите товары</div>
    </li>
  </ul>
</div>


