.card-panel {
  height: 120px;
  text-align: center;
}

.food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collapsible-header {
  display: flex;
  justify-content: center;
}

.collapsible-header div p {
  margin: 10px 0;
}

.loadingCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 30px;
  z-index: 1000;
}

.infocard {
  visibility: hidden;
}
