<div *ngIf="foodList.length > 0">
  <div class="row">
    <app-foods-food-card
      *ngFor="let food of foodList"
      [curFood]="food"
    >
    </app-foods-food-card>
  </div>

  <div class="center">
    <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</div>

<div *ngIf="foodList.length == 0" class="card-panel amber">
  <h5 class="blue-text text-darken-2">2. Выберите подкатегорию товара!</h5>
</div>


