.card-panel {
  height: 120px;
  text-align: center;
}
.cards {
  height: 1200px;
}
.collapsible-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.collapsible-header div p {
  margin: 10px 0px;
}
.loadingCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  z-index: 1000;
}
