div {
  background: url('../../../assets/images/diplom.jpg') no-repeat;
  background-size: cover;
  padding: 0 3% 0 50%;
  border-top: #EFEFEF solid .1px;
}

h1 {
  padding-top: 35%;
}

a {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.isNetBook {
  padding: 0 3% 0 67%;
  h1 {
    font-size: 28px;
    font-weight: bold;
  }
  h5 {
    font-size: 20px;
  }
}

.isTablet {
    padding: 0;
  h1 {
    display: none;
  }
  h5 {
    display: none;
  }
  a {
    margin-top: 106%;
  }
}

.isHandset {
  display: none;
}
