<div
     [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
  <h3>Победитель стартап-конкурса ВіzТесh 2018</h3>
  <h5>
    Проект <b>НаАкции.Бел (naakcii.by)</b> победил в стартап-конкурсе BizTech 2018 в номинации «Симпатия спонсора».
    Жюри, менторы и спонсоры конкурса высоко оценили идею продукта и тот результат, которого команде удалось достичь
    всего за несколько месяцев.
  </h5>
  <a routerLink="/#" class="deep-orange waves-effect waves-light btn">Подробнее о проекте</a>
</div>
