<div class="page-container" [ngStyle]="{'height': blockHeight + 'px'}"
     [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
  <h3><b>Наш партнёр – благотворительное общественное объединение «Большая семья»</b></h3>
  <div class="info-container">
    <div class="img">
    </div>
    <div class="description">
      <h5>
        С мая 2018 года проект <b>НаАкции.Бел (naakcii.by)</b> начал совместную работу над подготовкой продукта к официальному запуску с благотворительным общественным объединением
        «Большая семья», которое представляет интересы многодетных семей города Минска – основной целевой аудитории продукта на текущем этапе его развития.
      </h5>
      <a [href]="'http://bigfamily.by/о-нас/'" target="_blank" class="deep-orange waves-effect waves-light btn">Подробнее о партнёре</a>
    </div>
  </div>
</div>

