<div [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
     
    <div *ngIf="cart.lines.length > 0">
      <div class="list">Список покупок</div>
    
      <ul class="collapsible" data-collapsible="expandable" materialize="collapsible" [materializeParams]="params">
        <li class="collapsible-header list-header">
          <div class="empty-large"></div>
          <div class="item-position tablet-none">Товарные позиции</div>
          <div class="item-quantity">Количество</div>
          <div class="item-whole-price tablet-none">Стоимость без скидки, руб.</div>
          <div class="item-discount tablet-none">Скидка, руб.</div>
          <div class="item-discount-price header">Стоимость со скидкой, руб.</div>
          <div class="promotional-deadline tablet-none">Дата окончания акции</div>
          <div class="empty-small mobile-none"></div>
        </li>
        <li *ngFor="let chain of chainListExist">
          <div class="collapsible-header active shop-meta-data grey-text text-darken-2">
            <app-chain-line [chain]="chain" style="flex:1;"></app-chain-line>
          </div>
          <div class="collapsible-body item-info"
          *ngFor="let curCartline of getCartByChain(chain.chain.id)">
              <app-cart-line [curCartline]="curCartline" style="flex:1;"></app-cart-line>
          </div>
        </li>
        <li>
          <div class="collapsible-header active row chainList grey-text text-darken-2 non-discounted-line">
            <app-undiscount-header></app-undiscount-header>
          </div>
          <div class="collapsible-body empty">
            <app-undiscount-lines></app-undiscount-lines>
          </div>
        </li>
        <li>
          <app-undiscount-add></app-undiscount-add>
        </li>
      </ul>
    </div>
    
    <div *ngIf="cart.lines.length == 0">
      <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
        <li class="collapsible-header amber-text">
          <div class="grey-text text-darken-2">
            <p>
              Не выбран ни один товар.
            </p>
            <p>
              Чтобы просматривать итоговый список покупок,
              нужно выбрать хотя бы один товар.
            </p>
          </div>
        </li>
        <li class="collapsible-header finalizeFooterButton row">
          <div class="col m12 left">
            <a routerLink="/form-shopping-list" class="orangeLink">
              <i class="material-icons">arrow_back</i>
              <span>Вернуться к товарам</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
</div>