.foodContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.chainSearchBlock {
  height: 60px;
  margin-top: 20px;
}

.subCategoryContainer {
  padding: 0;
}

.totalItemsContainer {
  padding: 0;
}

.shopping-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .subCategoryContainer, .totalItemsContainer {
    padding: 0 1%;
    width: 25%;
  }
  .totalItemsContainer {
    width: 28%;
  }
}

.shopping-info {
  .cardList {
    width: 47%;
  }
}

.isTablet {
  .cardList {
    font-size: 12px;
  }
}

.isWeb {
  .cardList, .totalItemsContainer {
    width: 37%;
  }
}

.isTablet {
  .cardList, .subCategoryContainer, .totalItemsContainer {
    width: 33%;
  }
}
.isHandset {
  .shopping-info {
    flex-direction: column;
    justify-content: center;
    .subCategoryContainer, .cardList {
      display: flex;
      justify-content: center;
    }
    .totalItemsContainer {
      padding-left: 20px;
    }
    div {
      width: 90%;
    }
  }
}
