<div class="foodContainer">
  <div class="chainSearchBlock row">
    <div class="col m7">
      <app-foods-storage-list></app-foods-storage-list>
    </div>
    <div class="col offset-m1 m3">
      <!--<app-foods-search></app-foods-search>-->
    </div>
  </div>

  <app-foods-group></app-foods-group>

  <div class="shopingListConteiner row">

    <div class="subCategoryContainer col m3">
      <app-foods-subCategory></app-foods-subCategory>
    </div>

    <div class="col m6 cardList">
      <app-foods-food-list></app-foods-food-list>
    </div>

    <div class="totalItemsContainer col m3">
      <app-foods-total-items></app-foods-total-items>
    </div>

  </div>
</div>



