<div class="chain-line"
  [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
  [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
  [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
  [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
  [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
  <div class="shop-name">
    <div>
      <img src="{{chain.chain.imgLogoSmall}}">
    </div>
    <div>
      {{chain.chain.name}}
      (<a [attr.href]="'http://' + chain.chain.link" target="_blank"
          tooltip="Адреса и графики работы магазинов сети">магазины</a>)
    </div>
  </div>
  <div class="item-position tablet-none">{{cartLineList.length}}</div>
  <div class="item-quantity mobile-none"></div>
  <div class="item-whole-price tablet-none">
    <span *ngIf="getAllPriceBase() > 0">{{getAllPriceBase() | currency: "BYN": "code-narrow"}}</span>
    <span *ngIf=" getAllPriceBase() == 0">-</span>
  </div>
  <div class="item-discount tablet-none">
    <span *ngIf=" getAllPriceBase() > 0">{{getDiscountInMoney() | currency: "BYN": "code-narrow"}}</span><br>
    <span *ngIf=" getAllPriceBase() > 0">({{getDiscountInPercent() | number:"1.2-2"}} %)</span>
  </div>
  <div class="item-discount-price mobile-none">{{getAllPriceDiscount() | currency: "BYN":
    "code-narrow"}}
  </div>
  <div class="promotional-deadline tablet-none"></div>
  <div class="arrow-item">
    <i class="material-icons arrowCollapsibleBold">arrow_drop_down</i>
  </div>
</div>
 