<div class="navbar-fixed">
  <nav class="amber z-depth-3">
    <div class="nav-wrapper">
      <div class="container">
        <a routerLink="/" class="left brand-logo">{{logoText}}</a>
        <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse" materialize="sideNav">
          <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/foods">{{foods}}</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a routerLink="/foods">{{foods}}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

