:host /deep/ .isTablet .tablet-none {
  display: none;
}

:host /deep/ .isMobile .mobile-none {
  display: none;
}

:host /deep/ .flex {
  display: flex
}

:host /deep/ .block {
  display: block;
}

.listContainer {
  max-width: 1200px;
  margin: 0 auto 130px auto;
}
