.listContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 20px;
}

.list-header {
  display: flex;
  background-color: #656565;
  color: white;
}

.empty-large {
  flex: 3;
}

.item-whole-price, .item-discount-price, .promotional-deadline, .arrow-item, .bin-item, .item-quantity, .item-discount, .item-position {
  flex: 1;
  text-align: center;
}

.item-discount-price.header {
  text-align: start;
}

.item-position {
  flex: 1.05;
}

.item-quantity, .item-discount {
  flex: 2;
}

.bin-item {
  flex: 1;
}

.empty-small {
  flex: 1;
  text-align: left;
}

.total-line {
  display: flex;
  width: 100%;
}

.total-line {
  .empty-large {
    flex: 2.9;
    padding-left: 20px;
  }
  .item-discount-price {
    flex: 2;
  }
}

.collapsible-body.empty {
  padding: 0;
}

/********************************/
.item-info {
  display: flex;
}

.item-image {
  flex: 1;
  height: 80px;
  padding: 5px;
  align-self: center;
}

.item-image img {
  display: block;
  width: 100%;
}

.item-name-comment {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
}

/********************************/

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 10px 0px 10px white;
}

.finalizeFooter {
  display: flex;
  background-color: #757575;
  color: white;
  padding: 5px 0;
  margin: 10px 0;
}

/************************************/
.collapsible-header {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}

.shop-name {
  display: flex;
  flex: 3;
  align-items: center;
  text-align: left;
  a {
    color: #ff5722;
    text-decoration: underline;
    &:hover {
      color: #757575;
    }
  }
}

.shop-name div img {
  overflow: auto;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  top: -10px;
}

.isTablet .shop-name {
  flex: 1.8;
}

.item-quantity {
  user-select: none;
}

.btn-floating {
  transform: scale(0.5);
}

.collapsible {
  margin: 0.5rem 0 0;
}

.collapsible-body {
  margin: 0;
  padding: 5px;
}

.deleteCartLine {
  cursor: pointer;
}

/*Стиль заголовка сети***********************/
.shop-meta-data {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-bottom: solid 1px white;
}

/*Стили нижних кнопок*************************/
.finalizeFooterButton {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin-bottom: 3px;
  }
  a {
    width: 270px;
    margin: 0 10px 10px 0;
  }
}

.button-icon-pdf {
  div {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: -8px;
    background-repeat: no-repeat;
  }
}

.viber-btn {
  background-color: #DFDFDF;
  color: #9F9F9F;
  div {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: -8px;
    background-repeat: no-repeat;
  }
}

.back-to-products-btn {
  i {
    vertical-align: bottom;
  }
}

  /************************/
.allTotalPrice {
  border: solid 1px white;
  border-radius: 3px;
  font-size: 20px;
}

/*********************************/
.itemComment input {
  margin: 0;
  margin-top: 10px;
  font-style: italic;
  height: 30px;
}

.itemComment input:focus {
  border-bottom: 1px solid #656565;
  box-shadow: 0 1px 0 0 #656565;
}

/**********************************/
.non-discounted-line {
  display: flex;
}

.non-discounted-products {
  flex: 3.3;
  padding-left: 20px;
}

.non-discounted-products-quantity {
  flex: 8;
}

.non-discounted-products-arrow {
  flex: .65;
}

.isTablet {
  .non-discounted-products-arrow {
    flex: 1;
  }
}

.input-field {
  margin-top: 0;
}

.undiscount {
  display: flex;
  .item-image {
    flex: .9;
    margin: 0 5px;
  }
  .undiscount-product-input {
    flex: 10;
    padding-top: 25px;
    label {
      padding-top: 30px;
    }
  }
  span {
    flex: .69;
    padding-top: 35px;
  }
  .material-icons {
    color: lightgray;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: gray;
    }
  }
}

.chosen-undiscount-products {
  padding: 0 0 0 20px;
  display: flex;
  .chosen-undiscount-products_item {
    flex: 16.5;
  }
  .chosen-undiscount-products_bin {
    flex: 1;
  }
}

.arrow-item i {
  padding-left: 9px;
}

/*********************************/
.modal {
  max-width: 400px;
  max-height: 80%;
}

.modal-content .modal-header {
  margin: 0 0 10px 0;
}

.modal-header {
  h4 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
  }
}

.modal-content {
  padding: 24px 24px 15px 24px;
  div {
    text-align: center;
  }
}

.modal-icon {
  min-width: 55px;
  height: 55px;
  flex-basis: 80px;
  background-size: cover;
}

.modal-item {
  margin: 20px 0;
  font-size: 12px;
}

.modal-item-content {
  display: flex;
  p {
    margin-left: 10px;
    text-align: left;
  }
}

.isTablet {
  .tablet-none {
    display: none;
  }
  .shop-name {
    flex: 3.8;
  }
  .list-header {
    .empty-small {
      flex: .5;
    }
  }
  .non-discounted-products {
    flex: 11;
  }
  .undiscount-product-input {
    flex: 6;
  }
  .chosen-undiscount-products_item {
    flex: 10.5;
  }
  .total-line {
    .empty-large {
      flex: 5.3;
    }
  }
  .total-sum {
    display: flex;
    justify-content: space-between;
  }
  .item-image {
    flex: .7;
  }
}

.isHandset {
  .undiscount {
    padding-top: 7px;
    .item-image {
    }
    .undiscount-product-input {
      flex: 5;
      padding-top: 15px;
      label {
        padding-top: 5px;
      }
    }
    .chosen-undiscount-products_item {
      flex: 7.5;
    }
    span {
      padding-top: 20px;
    }
  }
}

.isMobile {
  .mobile-none {
    display: none;
  }
  .undiscount-product-input {
    flex: 3;
  }
}

.isNetBook .list-header {
  div {
    font-size: 12px;
  }
}

/*-----------Snackbar-----------------------*/
.snack-wrap {
  display:block;
  position:absolute;
  top:40px;
  right:0px;
  padding:0px;
  margin: 0 30px;
  font-size: 15px;
}

.snackbar {
  display:block;
  background: #444444;
  border:#f2f2f2;
  padding:10px 40px 10px 20px;
  color:#fff;
  font-family:Arial;
  position:relative;
  left:0px;
  top:-70px;
  transition: bottom 0.5s ease-in-out;
  z-index:9;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.animated {
  animation-name: snackbar-show;
  animation-duration: 2s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-delay:0.5s;
  animation-fill-mode: forwards;
}

.animated-hide {
  display:block;
  background: #444444;
  border:#f2f2f2;
  padding:10px 40px 10px 20px;
  color:#fff;
  font-family:Arial;
  position:relative;
  left:0px;
  top:25px;
  transition: bottom 0.5s ease-in-out;
  z-index:9;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  animation-name: snackbar-hide;
  animation-duration: 2s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-delay:0.3s;
  animation-fill-mode: forwards;
}

@keyframes snackbar-show {
  0%{ top:-70px; }
  100% {top:25px; }
}
@keyframes snackbar-hide {
  0% {top:25px; }
  100% {top:-70px; }
}
