<div *ngIf="chainListExist" class="listContainer">
  <div *ngIf="cart.lines.length > 0"
  >
    <div class="row finalizePageName grey-text text-darken-2">
      <span>Список покупок</span>
    </div>

    <ul class="collapsible totalList"
        data-collapsible="expandable"
        materialize="collapsible"
        [materializeParams]="params"
    >
      <li class="collapsible-header finalizeHeader row">
        <div class="col m3"></div>
        <div class="col m2">Товарные позиции</div>
        <div class="col m2">Количество</div>
        <div class="col m1">Стоимость без скидки</div>
        <div class="col m1">Скидка руб.(%)</div>
        <div class="col m1">Стоимость со скидкой</div>
        <div class="col m1">Дата окончания акции</div>
        <div class="col m1"></div>
      </li>
      <li
        *ngFor="let chain of chainListExist"
      >
        <div class="collapsible-header active row chainList grey-text text-darken-2">
          <div class="col m3 chainLogoName">
            <div>
              <img src="{{chain.chain.imgLogoSmall}}">
            </div>
            <div>
              {{chain.chain.name}}
                (<a [attr.href]="'http://' + chain.chain.link" target="_blank" (click)="onEventStop($event)">магазины</a>)
            </div>
          </div>
          <div class="col m2 center">{{getCartByChain(chain.chain.id).length}}</div>
          <div class="col m2 center">{{getCartQuantityByChain(chain.chain.id)}}</div>
          <div class="col m1 center">
            <span *ngIf="getCartAllPriceByChain(chain.chain.id) > 0">{{getCartAllPriceByChain(chain.chain.id).toFixed(2) | number:"1.2-2"}}</span>
            <span *ngIf="getCartAllPriceByChain(chain.chain.id) == 0">нет данных</span>
          </div>
          <div class="col m1 center">
            <span>{{(getCartAllPriceByChain(chain.chain.id) - getCartTotalPriceByChain(chain.chain.id)).toFixed(2) | number:"1.2-2" }}</span><br>
            <span>({{( 100 - (getCartTotalPriceByChain(chain.chain.id)/getCartAllPriceByChain(chain.chain.id))*100 ).toFixed(0) | number:"1.2-2"}} %)</span>
          </div>
          <div class="col m1 center">{{getCartTotalPriceByChain(chain.chain.id).toFixed(2) | number:"1.2-2"}}</div>
          <div class="col m1 center">18 мая</div>
          <div class="col m1 arrow-container">
            <i class="material-icons arrowCollapsibleBold">arrow_drop_down</i>
          </div>
        </div>

        <div class="collapsible-body row itemLine"
             *ngFor="let curCart of getCartByChain(chain.chain.id)"
        >
          <div class="col m1 itemImg" [ngStyle]="setImgStyles(curCart.product.img)">
            <!--<img *ngIf="!curCart.product.img" src="../../assets/images/noImg.svg">-->
            <!--<img *ngIf="curCart.product.img" src="assets/images/Products/{{curCart.product.img}}">-->
          </div>
          <div class="col m4 itemNameComment">
            <p class="itemName">
              {{curCart.product.name}}
            </p>
            <div class="itemComment">
              <input placeholder="Тут можно добавить примечание"
                     id="item_comment" type="text" class=""
                     [(ngModel)]="curCart.comment" value="{{curCart.comment}}">
              <!--<textarea rows="1" id="textarea1" class="materialize-textarea" [(ngModel)] = "curCart.comment" value="{{curCart.comment}}"></textarea>-->
              <!--<label for="textarea1" class="grey-text">Можете добавить комментарий</label>-->
            </div>
          </div>

          <div class="amountItem col m2 center">
            <a class="btn-floating btn teal grey" (click)="subItem(curCart)">
              <i class="material-icons">remove</i>
            </a>
            <span>{{curCart.quantity}}</span>
            <a class="btn-floating btn teal grey" (click)="addItem(curCart)">
              <i class="material-icons">add</i>
            </a>
          </div>

          <div class="col m1 center">
            <span *ngIf="curCart.product.allPrice > 0">{{(curCart.product.allPrice*curCart.quantity).toFixed(2)| number:"1.2-2"}}</span>
            <span *ngIf="curCart.product.allPrice == 0">нет данных</span>
          </div>
          <div class="col m1 center">
            <span *ngIf="curCart.product.discount == 0">&ndash;</span>
            <span *ngIf="curCart.product.discount > 0">{{((curCart.product.allPrice - curCart.product.totalPrice)*curCart.quantity).toFixed(2)| number:"1.2-2"}}</span><br>
            <span *ngIf="curCart.product.discount > 0">({{curCart.product.discount}} %)</span>
          </div>
          <div class="col m1 center">
            <span>{{(curCart.product.totalPrice*curCart.quantity).toFixed(2)| number:"1.2-2"}}</span><br>
          </div>
          <div class="col m1 center">18 мая</div>
          <div class="col m1">
            <a class="deleteCartLine" (click)="deleteCartLine(curCart)">
              <i class="material-icons center grey-text text-darken-1">delete_forever</i>
            </a>
          </div>
        </div>
      </li>

      <li class="collapsible-header finalizeFooterButton row">
        <div class="col m4 left">
          <a routerLink="/form-shopping-list" class="orangeLink">
            <i class="material-icons">arrow_back</i>
            <span>Вернуться к товарам</span>
          </a>
        </div>
        <div class="col m4 center">
          <a href="javascript:void(0);" (click)="generatePDF()"
             class="deep-orange waves-effect waves-light btn disable waves-effect waves-light btn"
             (click)="openModal()">Скачать PDF</a>
        </div>
        <div class="col m4 right">

        </div>
      </li>

      <li class="collapsible-header finalizeFooter row"
          [style.width.px]="widthContainer"
          [style.position]=getPosition()>
        <div class="col m2">Итого:</div>
        <div class="col m3 center">{{cart.lines.length}}</div>
        <div class="col m2 center">{{cart.itemCount}}</div>
        <div class="col m1 center">
          <span *ngIf="cart.cartAllPrice > 0">{{(cart.cartAllPrice).toFixed(2)| number:"1.2-2"}}</span>
          <span *ngIf="cart.cartAllPrice == 0">нет данных</span>
        </div>
        <div class="col m1 center">
          <span>{{(cart.cartAllPrice - cart.cartTotalPrice).toFixed(2)| number:"1.2-2"}}</span><br>
          <span>({{(100 - (cart.cartTotalPrice/cart.cartAllPrice)*100).toFixed(0)}} %)</span>
        </div>
        <div class="col m2 center allTotalPrice">{{cart.cartTotalPrice.toFixed(2)| number:"1.2-2"}} руб.</div>
        <div class="col m1 center"></div>
      </li>

    </ul>

  </div>

  <div *ngIf="cart.lines.length == 0">
    <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
      <li class="collapsible-header amber-text">
        <div class="grey-text text-darken-2">
          <p>
            Не выбран ни один товар.
          </p>
          <p>
            Чтобы просматривать итоговый список покупок,
            нужно выбрать хотя бы один това.
          </p>
        </div>
      </li>
      <li class="collapsible-header finalizeFooterButton row">
        <div class="col m12 left">
          <a routerLink="/form-shopping-list" class="orangeLink">
            <i class="material-icons">arrow_back</i>
            <span>Вернуться к товарам</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1"  data-target="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="modal-header">
      <h4>Поздравляем! </h4>
      <h4>Вы только что скачали свой список покупок. Теперь вы можете:</h4>
    </div>
    <ul>
      <li><a (click)="closeModal()">Продолжить редактирование списка</a></li>
      <p>Если в скаченном списке обнаружились какие-то недочёты, лучше его доработать, продолжив редактирование.</p>
      <li><a (click)="onRederect()">Составить новый список покупок</a></li>
      <p>Если полученный список совсем вам не нравится, можно составить новый список с нуля.</p>
    </ul>
    <p>Если полученный список вас устраивает,
      вы можете завершить работу с сервисом,
      закрыв текущую вкладку браузера, и отправляться в магазин за покупками с максимальной экономией.</p>
  </div>
  <div class="modal-footer">
  </div>
</div>
