.listContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.finalizeHeader {
  cursor: default;
  margin: 0px;
}
.finalizeHeader div {
  text-align: center;
}
.collapsible-header {
  margin: 0px;
  padding: 5px;
}
.collapsible-header div:last-child {
  text-align: right;
}
.collapsible-body {
  margin: 0px;
  padding: 5px;
}
.collapsible-body div:last-child {
  text-align: right;
}
.deleteCartLine {
  cursor: pointer;
}
/*Стиль заголовка сети***********************/
.chainList {
  display: flex;
  align-items: center;


}
/*Стили нижних кнопок*************************/
.finalizeFooterButton div:first-child a {
  display: flex;
  align-items: center;
}
.finalizeFooterButton div:first-child a span {
  text-decoration: underline;
}

