.modal {
    max-width: 400px;
    max-height: 80%;
  }
  
.modal-content .modal-header {
  margin: 0 0 10px 0;
}

.modal-header {
  h4 {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
  }
}

.modal-content {
  padding: 24px 24px 15px 24px;
  div {
    text-align: center;
  }
}

.modal-icon {
  min-width: 55px;
  height: 55px;
  flex-basis: 80px;
  background-size: cover;
}

.modal-item {
  margin: 20px 0;
  font-size: 12px;
}

.modal-item-content {
  display: flex;
  p {
    margin-left: 10px;
    text-align: left;
  }
}
