<i class="material-icons" (click)="onClose()">close</i>
<div  class="modal-content">
  <div class="successMessage"><h4>{{successMessage}}</h4></div>
<div #modal>
  <div class="modal-header">
    <h4>Обратите внимание!</h4>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form, modal)">
    <div class="modal-item">
    </div>
    <div class="modal-item">
      <div class="modal-item-content">
        <p> Товар, который вы только что добавили в список – <span>тестовый</span>. Чтобы вы могли формировать свой список покупок из
        реальных акционных товаров, команда сервиса «НаАкции.Бел» проводит сейчас работы по интеграции с учётными
        системами торговых сетей. Мы планируем завершить эти работы с одной из сетей уже в январе.
        </p>
        <p>
          Будьте в числе первых, кто узнает о запуске Сервиса с реальными товарами! Оставьте нам свой адрес электронной
        почты и мы отправим на него письмо с новостью о запуске:
        </p>
      </div>
    </div>
    <div class="modal-item">
      <div class="modal-item-content">
        <label for="email">
        </label>
        <input id="email" type="email" name="email" [(ngModel)]="email"
               required
               minlength="6"
               pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"/>
      </div>
      <div class="modal-item">
        <div class="modal-item-content">
          <p> Обещаем, что будем надёжно его хранить и сами будем писать на него только по делу.</p>
        </div>
      </div>
      <button type="submit" class="deep-orange waves-effect waves-light btn">Отправить</button>
    </div>
  </form>
</div>
</div>
