<div *ngIf="categories" class="row foods-main-group">
  <!--<div>
    <a id="menu2" class="waves-effect waves-light btn btn-floating amber"
       onclick="$('.tapStep2').tapTarget('open')">
      2
    </a>
    &lt;!&ndash; Tap Target Structure &ndash;&gt;
    <div class="tapStep2 tap-target amber" data-activates="menu2">
      <div class="tap-target-content">
        <h5 class="white-text">Осталось совсем немного!</h5>
        <p>Мы создали для вас удобный список категорий, пролистав который, Вы быстро найдете нужную вам категорию товара</p><br>
        <p class="red-text big">Чего вы ждете? выбирайте и идем дальше)</p>
      </div>
    </div>
  </div>-->

  <div>
    <ngu-carousel
      [inputs]="carouselCategory"
      (carouselLoad)="myfunc($event)">

      <button NguCarouselPrev class='leftRs'>
        <i class="material-icons amber-text">chevron_left</i>
      </button>

      <ngu-item NguCarouselItem
                *ngFor="let cat of categories"
                (click)="selectCategory(cat)"
      >
          <div [class.selected]="isSelected(cat.id)" [class.notSelected]="!isSelected(cat.id)">
            <i class="material-icons">{{cat.img}}</i>
          </div>
          <p class="brown-text">{{cat.name}}</p>
      </ngu-item>

      <button NguCarouselNext class='rightRs'>
        <i class="material-icons amber-text">chevron_right</i>
      </button>
    </ngu-carousel>
  </div>
</div>
<div *ngIf="!categories" class="container foods-main-group">
  <div class="progress amber">
    <div class="indeterminate deep-orange"></div>
  </div>
</div>
