<div *ngIf="categories" class="row foods-main-group"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches"
     [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches">
  <div class="foods-main-group-container">
    <button class='leftRsDisable'>
      <i class="material-icons">chevron_left</i>
    </button>
    <ngu-carousel
      [inputs]="carouselCategory"
      (carouselLoad)="myfunc($event)">

      <button NguCarouselPrev class='leftRs'>
        <i class="material-icons grey-text text-darken-3">chevron_left</i>
      </button>

      <ngu-item NguCarouselItem
                *ngFor="let cat of categories"
                (click)="selectCategory(cat)">
        <div [class.selected]="isSelected(cat.id)"
             [class.notSelected]="!isSelected(cat.id)"
        >
          <div class="catImage" [ngStyle]="{'background-image':getImage(cat.id)}">

          </div>
        </div>
        <p class="categoryName grey-text text-darken-3">{{cat.name}}</p>
      </ngu-item>

      <button NguCarouselNext class='rightRs'>
        <i class="material-icons grey-text text-darken-3">chevron_right</i>
      </button>
    </ngu-carousel>
    <button class='rightRsDisable'>
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
</div>
<div *ngIf="!categories" class="container foods-main-group">
  <div class="progress amber">
    <div class="indeterminate deep-orange"></div>
  </div>
</div>
