.foods-main-group {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel {
  height: 160px;
  width: 100%;
}
.carousel-item {
  cursor: pointer;
  height: 150px;
  width: 140px;
}

.carousel-item:hover div {
  background-color: #ffc107;
}
.carousel-item:hover div i {
  color: white;
}
.carousel-item p {
  padding-top: 0px;
  font-size: 18px;
  text-align: center;
}
.chevron{
  cursor: pointer;
}
.chevron i {
  font-size: 48px;
}
.notSelected {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /*border: solid 1px #ffc107;*/
  margin: 0 auto;
}
.selected {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 1px #ffc107;
  margin: 0 auto;
  background-color: #ffc107;
}
.notSelected i {
  margin: auto;
  font-size: 64px;
  color: #ffc107;
}
.selected i {
  margin: auto;
  font-size: 64px;
  color: white;
}
