.foods-main-group {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
.foods-main-group-container {
  position: relative;
}
/*элементы(карточки) слайдера*******/
ngu-item {
  display: block;
  cursor: pointer;
  height: 170px;
  width: 100px;
}
ngu-item:hover div {
  background-color: #ffc107;
}
ngu-item:hover div div {
  background-position: 70px 0px;
}
.categoryName {
  padding-top: 0px;
  font-size: 14px;
  text-align: center;
}
@media all and (max-width: 899px){
  ngu-item {
    width: 60px;
  }
}
/***********************************/
.notSelected {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.selected {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ffc107;
}

/**********************************/
.notSelected .catImage {
  background-position: 0px 0px;
}
.selected .catImage {
  background-position: 70px 0px;
}
.catImage {
  width: 70px;
  height: 70px;
  margin: auto;
  background-size: cover;
}
/*******************************/

.leftRs, .rightRs {
  position: absolute;
  margin: auto;
  top: -60px;
  bottom: 0;
  width: 40px;
  height: 50px;
  box-shadow: none;
  border: none;
  background-color: white;
  z-index: 110;
}
.leftRs {
  left: -45px;
}
.rightRs {
  right: -45px;
}
.leftRs i, .rightRs i {
  font-size: 48px;
}
/******************************************/
.leftRsDisable, .rightRsDisable {
  position: absolute;
  margin: auto;
  display: block;
  cursor: default;
  width: 40px;
  height: 50px;
  top: 30px;
  left: -45px;
  border: none;
  background-color: white;
  z-index: 100;
}
.leftRsDisable {
  left: -45px;
  color: #d7d7d7;
}
.rightRsDisable {
  left: auto;
  right: -45px;
  color: #d7d7d7;
}
.leftRsDisable i, .rightRsDisable i {
  font-size: 48px;
}
/******************************************/


