.steps-container-block {
  width: 120px;
  height: 180px;
  overflow: hidden;
}
.step-image {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.step-image img {
  display: block;
  width: 65%;
  height: 65%;
  margin: auto;
}
.step-title {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
