.card-content {
  padding: 5px;
}
/*-------------------------------------*/
.foodName {
  font-size: 12px;
  height: 80px;
  overflow: auto;
}
.foodStorage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  overflow: auto;
}
.foodStorage div img {
  width: 30px;
  height: 25px;
}
.foodAllPrice {
  text-align: center;
  font-size: 12px;
  text-decoration: line-through;
}
.foodTotalPrice {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
/*-------------------------------------*/

.selectFood {
  font-size: 12px;
  width: 100%;
  padding: 0px;
}
.card:hover {
  box-shadow: 0 0 20px rgba(0,0,0, 0.5);
  border: none;
  transition: 0.3s all;
  z-index: 100;
}
.amountItem {
  top: auto;
  bottom: 0px;
  padding: 0px 0px 5px 0px;
}
.amountItem span {
  font-size: 18px;
  font-weight: bold;
}
/*-------------------------------*/
.btn-floating {
  transform: scale(0.7);
}
.btn-floating:active {
  transform: scale(0.6);
}
.selectFood:active {
  transform: scale(0.95);
}
.card-image {
  position: relative;
}
.foodDiscount {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;

}
.endStock span {
  font-size: 10px;
}

