<div class="finalizeFooterButton"
[class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
[class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
[class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
[class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
[class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
  <div class="back-to-products-btn">
    <a routerLink="/form-shopping-list" class="deep-orange waves-effect btn">
      <i class="material-icons">arrow_back</i>
      <span *ngIf="!(breakPointCheckService.isTablet | async)?.matches">Вернуться к товарам</span>
    </a>
  </div>
  <div class="pdf-btn">
    <a href="javascript:void(0);" (click)="generatePDF()"
        class="deep-orange waves-effect waves-light btn button-icon-pdf">
      <span *ngIf="!(breakPointCheckService.isTablet | async)?.matches">Скачать</span>
      <div [ngStyle]="{'background-image':'url(assets/images/pdf.svg)'}"></div>
    </a>
  </div>
  <div>
    <a href="javascript:void(0);" class="btn viber-btn" data-position="top" tooltip="Эта функция скоро станет доступна" >
      <span *ngIf="!(breakPointCheckService.isTablet | async)?.matches">Отправить в</span>
      <div [ngStyle]="{'background-image':'url(assets/images/viber-disabled.svg)'}"></div>
    </a>
  </div>
</div>
