<div class="undiscount-header"
  [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
  [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
  [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
  [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
  [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
  <div class="non-discounted-products">
    Неакционные товары
  </div>
  <div class="non-discounted-products-quantity tablet-none">{{getCouunt()}}</div>
  <div class="non-discounted-products-arrow">
    <i class="material-icons arrowCollapsibleBold">arrow_drop_down</i>
  </div>
</div>
