.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  padding: 0px;
  padding-left: 5px;
}
.collapsible-header:first-child div {
  text-align: justify;
  padding: 10px;
  font-size: 18px!important;
  font-weight: bold;
  color: #696969;
}
.card-panel {
  //height: 120px;
  text-align: justify;
}
.material-icons {
  margin: 0px;
}
.collapsible-body {
  padding: 5px;
}
.collapsible-header div {
  margin: 0 auto;
  font-size: 16px;
}
/*------------------------------*/
.amountItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.amountItem span {
  font-size: 12px;
  font-weight: bold;
}
.btn-floating {
  transform: scale(0.5);
}

.btn-floating:active {
  transform: scale(0.4);
}
/*------------------------------*/
.foodName {
  font-size: 14px;
}
.foodAllPrice {
  margin: 10px 0px;
  font-size: 12px;
}
.foodTotalPrice {
  margin: 10px 0px;
  font-size: 12px;
  font-weight: bold;
}
/*-------------------------------*/
.deleteFood {
  margin: 0px;
}
.deleteFood a {
  cursor: pointer;
}
.emptyItemsText p:first-child {
  margin-top: 0px;
}
.emptyItemsText p {
  margin: 10px 0px;
}
.emptyItemsText p:last-child {
  margin-bottom: 0px;
}
