<div *ngIf="isVisibleChain(product.idStrore)" class="foodCard"
    [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches"
    [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
    [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
    [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
    [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches">
  <div class="card sticky-action">
    <div class="card-image tooltip-container-bottom" [ngStyle]="setImgStyles(product)">
      <div *ngIf="product.discount > 0" class="foodDiscount deep-orange center-align white-text z-depth-3">
        {{product.discount}}%
      </div>
      <div *ngIf="product.discount === 0"
          class="foodDiscount deep-orange center-align white-text z-depth-3 good-price">
        <i tooltip="Товар на акции «Хорошая цена», размер скидки сетью не публикуется" class="material-icons">thumb_up</i>
      </div>
    </div>

    <div class="card-content tooltip-container">
      <div class="foodName"><b>
        {{product.name | cutString: nameMaxWidth}}<br>
        {{product.boxWeight}}
        <span *ngIf="product.name.length >= nameMaxWidth" class="tooltiptext">{{product.name}}</span>
      </b>
      </div>
      <div class="foodStorage">
        <div class="grey-text">
          {{getNameStorage(product.idStrore)}}
        </div>
        <div>
          <img src="{{getImgStorage(product.idStrore)}}">
        </div>
      </div>
      <div *ngIf="product.discount > 0" class="foodAllPrice">
        {{product.allPrice | number:"1.2-2"}} руб.
      </div>
      <div *ngIf="product.discount == 0" class="foodAllPriceNo">&nbsp;</div>
      <div class="foodTotalPrice">
        {{product.totalPrice | number:"1.2-2"}} руб.
      </div>

      <div class="amountItem center">
        <a class="btn-floating btn teal grey darken-1" (click)="subItem(product)">
          <i class="material-icons">remove</i>
        </a>
        <span class="grey-text text-darken-2">{{product.selectAmount}}</span>
        <a class="btn-floating btn teal grey darken-1" (click)="addItem(product)">
          <i class="material-icons">add</i>
        </a>
        <a class="selectFood btn waves-block deep-orange" (click)="selectFood(product)">Добавить</a>
      </div>
      <div class="endStock">
      <span class="grey-text">
        Окончание акции: <span appDateGenerator></span>
      </span>
      </div>
    </div>
  </div>
</div>
