.card-panel {
  /*height: 120px;*/
  text-align: center;
}
.collection, .collection li {
  border: none;
}
.collection-header p {
  text-align: center;
  font-size: 18px;
}
.catName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*****************************************************/
.checkbox-color[type="checkbox"] + label:before{
  border: 2px solid dimgrey;
  background: transparent;
}
.checkbox-color[type="checkbox"]:checked + label:before{
  border: 2px solid transparent;
  border-bottom: 2px solid dimgrey;
  border-right: 2px solid dimgrey;
  background: transparent;
}
.checkbox-color.filled-in[type="checkbox"] + label:after{
  border: 2px solid dimgrey;
  background: transparent;
}
.checkbox-color.filled-in[type="checkbox"]:checked + label:after{
  background: dimgrey;
}
.checkbox-color.filled-in[type="checkbox"]:checked + label:before{
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/*****************************************************/
