.collection, .collection li {
  border: none;
}
.collapsible-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.preloader-wrapper {
  margin: 0 auto;
}
.catName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryName {
  font-size: 16px;
  font-weight: bold;
}

.active {
  color: white;
  background-color: #FFC107;
}

.custom-btn {
  padding: 6px 12px;
  width: 240px;
  font-variant: all-small-caps;
  height: auto;
  line-height: 20px
}

.custom-btn:hover {
  background-color: #D9D9D9;
}

.collection.with-header .collection-header {
  padding: 10px 30px;
}

.collection .collection-item {
  padding: 2px 20px;
}
