 <!-- [ngStyle]="{'padding-top':getPaddingTop()}" -->
<div *ngIf="subCategoryList" class="subCategoryContainer">
  <ul class="collection with-header">
    <li class="collection-header grey-text text-darken-2">
      <div class="catName">
        <div>
          <p class="categoryName">{{curCategory.name}}</p>
        </div>
      </div>
    </li>
    <li class="collection-item" *ngFor="let subCat of subCategoryList; let i = index">
      <a class="waves-effect btn-flat custom-btn" [class.active]="subCategoryList[i].selected" app-scroll-to-top (click)="onChangeItem(subCat.id)">
        {{subCat.name}}
      </a>
    </li>
  </ul>
</div>
