* {
  margin: 0px;
  padding: 0px;
}
.tooltip {
  position: fixed;
  padding: 3px 8px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  text-align: center;
  font: 12px/1.3 sans-serif;
  color: #333;
  background: #fff;
}
