<div *ngIf="cart.lines.length > 0"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches"
     [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches">

  <ul class="collapsible" data-collapsible="accordion"
      materialize="collapsible"
      [materializeParams]="params">
    <li class="collapsible-header">
      <div>Список покупок</div>
    </li>
    <li class="collapsible-header totalSum">
      <div class="left">
        <span>Итог:</span>
      </div>
      <div>
        <span>{{cart.cartTotalPrice | number:"1.2-2"}} руб.</span>
      </div>
    </li>

      <li *ngFor="let curFood of cart.lines">
        <div class="collapsible-header currentItem row">
          <div class="foodName left col m7">{{curFood.product.name | cutString: 19}}</div>

          <div class="amountItem right col m4" (click)="onEventStop($event)">
            <a class="btn-floating btn teal grey" (click)="subItem(curFood)">
              <i class="material-icons">remove</i>
            </a>
            <span class="grey-text text-darken-2">{{curFood.quantity | number:"1.1"}}</span>
            <a class="btn-floating btn teal grey" (click)="addItem(curFood)">
              <i class="material-icons">add</i>
            </a>
          </div>

          <div class="col m1 collapsItem">
            <i class="material-icons arrowCollapsibleLite" >keyboard_arrow_right</i>
          </div>
        </div>

        <div class="collapsible-body">

          <div class="row">
            <div class="foodName col m10">
              {{curFood.product.name}} <br>
              {{curFood.product.boxWeight}}
            </div>
            <div class="deleteFood col m2">
              <a class="right" (click)="deleteFoodCard(curFood)">
                <i class="material-icons center grey-text text-darken-1">delete_forever</i>
              </a>
            </div>
          </div>

          <div class="chainName row">
            <div class="col m6">
              Торговая сеть
            </div>
            <div class="col m6">
              "{{getNameStorage(curFood.product.idStrore)}}"
            </div>
          </div>
          <div class="actionPrice row">
            <div class="col m6">
              Цена на акции
            </div>
            <div class="col m6">
              {{curFood.product.totalPrice | number:"1.2-2"}} руб
            </div>
          </div>
          <div class="discount row">
            <div class="col m6">
              % скидки
            </div>
            <div class="col m6">
              {{curFood.product.discount}} %
            </div>
          </div>
          <div class="itemSum row">
            <div class="col m6">
              Итог
            </div>
            <div class="col m6">
              {{(curFood.product.totalPrice * curFood.quantity) | number:"1.2-2"}} руб
            </div>
          </div>

          <div class="input-field">
            <input placeholder="Тут можно добавить примечание"
                   id="item_comment" type="text" class=""
                   [(ngModel)] = "curFood.comment" value="{{curFood.comment}}">
            <!--<textarea rows="1" id="textarea1" class="materialize-textarea" [(ngModel)] = "curFood.comment" value="{{curFood.comment}}"></textarea>
            <label for="textarea1" class="grey-text">Можете добавить комментарий</label>-->
          </div>
        </div>

      </li>
  </ul>
  <a routerLink="/finalize-shopping-list" id="goFoodsBtn" class="deep-orange waves-effect waves btn right"><span>Перейти к списку</span></a>
</div>
<div *ngIf="cart.lines.length == 0" >
  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li class="collapsible-header amber-text">
      <div>Список покупок</div>
    </li>
    <li class="collapsible-header">
      <div class="emptyItemsText grey-text text-darken-2">
        <p>
          Ваш список покупок пока пуст.
        </p>
        <p>
          Чтобы добавить в него подходящие акционные товары,
          используйте кнопку <span class="deep-orange-text accentText">«Добавить»</span> на соответствующих карточках
          товаров.
        </p>
        <p>
          Чтобы поменять количество товара, используйте кнопки <span class="accentText">«+»</span> и <span
          class="accentText">«&ndash;»</span>.
        </p>
      </div>
    </li>
  </ul>
</div>



