<div class="chainList" #shopList>
  <div class="chainListWrap">
    <ul class="collapsible"
        materialize="collapsible"
        [materializeParams]="params"
        [materializeActions]="actionsCollapsible"
        data-collapsible="accordion">
      <li>
        <div class="collapsible-header row grey darken-1">
          <div class="col m7">{{chainListText}}</div>
          <div class="col m2">{{curChainPercent}}</div>
          <div class="col offset-m1 m1">{{curChainCountGoods}}</div>
          <div class="col m1"><i class="material-icons white-text">{{curentIconCollapsible}}</i></div>
        </div>
        <div class="collapsible-body">
          <ul class="collection with-header">
            <li class="collection-header row">
              <div class="col m6"><span>Торговые сети</span></div>
              <div class="col m3"><span>Средний % скидки</span></div>
              <div class="col m3"><span>Товаров на акции</span></div>
            </li>
            <li class="collection-item row" (click)="onChangeAllChains()">
              <div class="col m6">
                <input type="checkbox" class="checkbox-color" id="chainAll"
                       [checked]="checkedAllChain"
                       (change)="onChangeAllChains()"
                />
                <label for="chainAll" class="grey-text text-darken-2">
                  <span>Все</span>
                </label>
              </div>
              <div class="col m3 MedianPercent">
                <span>{{chainLst.chainAverageDiscount}}</span>
              </div>
              <div class="col m3 MedianGoods">
                <span>{{chainLst.itemAllCount}}</span>
              </div>
            </li>

            <li *ngFor="let chain of chainLst.lines"
                class="collection-item row"
                (click)="onChangeChain(chain.chain.id)"
            >
              <div class="chainName col m6">
                <input type="checkbox" class="checkbox-color" id="chain{{chain.chain.id}}"
                       (change)="onChangeChain(chain.chain.id)"
                       [checked]="chain.chain.selected"/>
                <label for="chain{{chain.chain.id}}" class="grey-text text-darken-2">
                  <img class="chainLogo" src="{{chain.chain.imgLogoSmall}}">
                  <span>{{chain.chain.name}}</span>
                </label>
              </div>
              <div class="col m3 chainPercent">
                <span>{{chain.chain.percent}}</span>
              </div>
              <div class="col m3 chainCountGoods">
                <span>{{chain.chain.countGoods}}</span>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="overlay" #overlay>
  <div class="overlay-text" amber-text
   [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
   [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches">Выберите только те торговые сети, которые Вам подходят: по доступности, обслуживанию, количеству акционных товаров и среднему
  размеру скидки. Тогда Вы сможете выбирать только их товары, не тратя время на рассмотрение товаров других сетей.</div>
</div>
