<div class="chainList" #shopList>
  <div class="chainListWrap">
    <ul class="collapsible"
        materialize="collapsible"
        [materializeParams]="params"
        [materializeActions]="actionsCollapsible"
        data-collapsible="accordion">
      <li>
        <div class="collapsible-header row grey darken-1">
          <div class="col m7">{{chainListText}}</div>
          <div class="col m2">{{curChainPercent}}</div>
          <div class="col offset-m1 m1">{{curChainCountGoods}}</div>
          <div class="col m1"><i class="material-icons white-text">{{curentIconCollapsible}}</i></div>
        </div>
        <div class="collapsible-body">
          <ul class="collection with-header">
            <li class="collection-header row">
              <div class="col"><span>Торговые сети</span></div>
              <div class="col"><span>Средний % скидки</span></div>
              <div class="col"><span>Товаров на акции</span></div>
            </li>
            <li class="collection-item row" (click)="onChangeAllChains()">
              <div class="col chainName">
                <input type="checkbox" class="checkbox-color" id="chainAll"
                       [checked]="checkedAllChain"
                       (change)="onChangeAllChains()"
                />
                <label for="chainAll" class="grey-text text-darken-2">
                  <span>Все</span>
                </label>
              </div>
              <div class="col">
                <span class="average-percent">{{chainLst.chainAverageDiscount}}</span>
              </div>
              <div class="col">
                <span class="total-goods">{{chainLst.itemAllCount}}</span>
              </div>
            </li>

            <li *ngFor="let chain of chainLst.lines"
                class="collection-item row"
                (click)="onChangeChain(chain.chain.id)"
            >
              <div class="chainName col">
                <input type="checkbox" class="checkbox-color" id="chain{{chain.chain.id}}"
                       (change)="onChangeChain(chain.chain.id)"
                       [checked]="chain.chain.selected"/>
                <label for="chain{{chain.chain.id}}" class="grey-text text-darken-2">
                  <img class="chainLogo" src="{{chain.chain.imgLogoSmall}}">
                  <span>{{chain.chain.name}}</span>
                </label>
              </div>
              <div class="col chainPercent">
                <span>{{chain.chain.percent}}</span>
              </div>
              <div class="col chainCountGoods">
                <span>{{chain.chain.countGoods}}</span>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="overlay" #overlay>
  <div class="overlay-text" amber-text
       [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
       [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
       [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
       [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches">
    <p class="header"><b>Выберите подходящие торговые сети, чтобы не тратить время на товары других сетей</b></p>
    <p class="text">Кроме среднего размера скидки и количества акционных товаров, выведенных в таблице, не забудьте о расстоянии до магазинов и желаемом уровне обслуживания.</p>
  </div>
</div>
