.dropdown-button {
  border-radius: 20px;
  width: 310px;
}
#dropdownStorage {
  width: 380px!important;
}
.selectedStorage {
  margin-left: 10px;
}
.badge {
  margin: 15px 10px;
  padding: 0px 10px;
}

