.row {
  padding: 0px;
  margin: 0px;
}
.input-field input {
  /*border: solid 2px #009688;
  border-radius: 20px;*/
  padding-left: 35px;
}

.input-field i {
  left: 60px;
  top: 9px;
}
.input-field label {
  left: 50px;
}
