.homeSlider {
  height: 380px;
  background-image: url("../../../assets/images/main.png");
  background-size: cover;
}

.title {
  color: white;
  max-width: 800px;
  font-family: 'Lobster', cursive;
}

.headers {
  padding: 1px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90%;
}

.header {
  color: white;
  font-size: 30px;
}

.material-icons {
  font-size: 38px;
  color: white;
}

@media screen and (max-width: 900px) {
  .homeSlider {
    height: 360px;
  }
  .headers {
    padding: 1px 20px 0;
  }
  .header {
    font-size: 24px;
  }
  .material-icons {
    font-size: 28px;
  }
  h2 {
    font-size: 30px;
  }
}
