<div  class="homeSlider amber"
     [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">
  <div class="headers">
    <p class="title">Составляйте список покупок и экономьте с нами!</p>
    <section
    [@getData]="getData">
      <div *ngFor="let title of titles" >
        <i class="material-icons">check</i>
        <span class="header">{{title}}</span>
      </div>
    </section>
  </div>
</div>
