.homeSlider {
  background-image: url("../../../assets/images/main.png");
  background-size: cover;
  height: 340px;
}

.homeSlider {
  &.isWeb {
    height: 320px;
    .header {
      font-size: 30px;
    }
  }
  &.isNetbook {
    .headers {
    padding: 1px 20px 0;
  }
    .title {
      font-size: 34px;
    }
    .header {
      font-size: 24px;
    }
    .material-icons {
      font-size: 28px;
    }
  }
  &.isTablet {
    height: 300px;
    .title {
    font-size: 24px;
  }
    .header {
      font-size: 20px;
    }
    .material-icons {
      font-size: 22px;
    }
  }
  &.isHandset {
    height: 280px;
  }
  &.isMobile {
    height: 220px;
    .title {
      font-size: 20px;
    }
    .headers {
      padding: 5px;
    }
    .header {
      font-size: 16px;
    }
    .material-icons {
      font-size: 18px;
    }
  }
}

.title {
  color: white;
  max-width: 800px;
  font-size: 38px;
  font-family: 'Nexa Script Regular';
}

.headers {
  max-width: 1260px;
  margin: 0 auto;
  padding: 1px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90%;
}

.header {
  color: white;
  font-size: 30px;
}

.material-icons {
  font-size: 38px;
  color: white;
}
