<div class="cards"
     [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches"
     [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
     [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
     [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
     [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches">
  <div *ngIf="isVisibleProd()">
    <div class="food-cards">
        <div *ngFor="let curFood of foodList">
          <app-action-product-card [product]="curFood" (openModal)="openModal()">
          </app-action-product-card>
      </div>
    </div>
    <div id="modal1" data-target="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]"
        [materializeActions]="modalActions">
      <app-email-modal (childEvent)="closeModal()"></app-email-modal>
    </div>
    <div *ngIf="showLoadingCard" class="loadingCard">
        <div class="progress amber">
          <div class="indeterminate deep-orange"></div>
        </div>
    </div>
  </div>
  <ul *ngIf="!isVisibleProd()" class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li class="collapsible-header amber-text">
      <div *ngIf="isCheckedChain()" class="grey-text text-darken-2">
        <p>
          В выбранных торговых сетях сейчас нет акций на товары выбранной категории или подкатегории.
        </p>
        <p>
          Попробуйте поискать в других сетях.
        </p>
      </div>
      <div *ngIf="!isCheckedChain()" class="grey-text text-darken-2">
        <p>
          Не выбрана ни одна торговая сеть.
        </p>
        <p>
          Чтобы добавлять акционные товары в список покупок,
          нужно выбрать хотя бы одну из них.
        </p>
        <p>
          Рекомендуем выбирать сети поближе к дому с наибольшим количеством товаров
          и наибольшим средним процентом скидки.
        </p>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="!foodList.length && isFoodLength" class="cards">
  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li class="collapsible-header amber-text">
      <div class="grey-text text-darken-2">
        <p>
          Товаров данной подкатегории нет на акции ни в одной торговой сети, с которыми мы сотрудничаем.
        </p>
        <p>
          Возможно, они появятся в ближайшее время.
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="cards" [class.infocard]="!isFoodLength">
</div>


