.cart-line{
  display:flex;
  // flex:1;
}
.item-whole-price, .item-discount-price, .promotional-deadline, .arrow-item, .bin-item, .item-quantity, .item-discount, .item-position {
  flex: 1;
  text-align: center;
}

.bin-item {
  flex: 1;
}

.item-quantity {
  flex:2;
  user-select: none;
}

.btn-floating {
  transform: scale(0.5);
}

/*********************************/
.itemComment input {
  margin: 0;
  margin-top: 10px;
  font-style: italic;
  height: 30px;
}

.itemComment input:focus {
  border-bottom: 1px solid #656565;
  box-shadow: 0 1px 0 0 #656565;
}

/**********************************/