<div class="cart-line"
  [class.isMobile]="(breakPointCheckService.isMobile | async)?.matches"
  [class.isHandset]="(breakPointCheckService.isHandset | async)?.matches"
  [class.isTablet]="(breakPointCheckService.isTablet | async)?.matches"
  [class.isNetBook]="(breakPointCheckService.isNetBook | async)?.matches"
  [class.isWeb]="(breakPointCheckService.isWeb | async)?.matches">

  <div class="item-image" [ngStyle]="setImgStyles(curCartline.product.img)"></div>
  <div class="item-name-comment">
    <p class="itemName">
      {{curCartline.product.name}}
    </p>
    <div class="itemComment">
      <input placeholder="Здесь можно добавить примечание" type="text"
              [(ngModel)]="curCartline.comment" value="{{curCartline.comment}}">
    </div>
  </div>

  <div class="item-quantity">
    <a class="btn-floating btn teal grey tablet-none" (click)="subItem()">
      <i class="material-icons">remove</i>
    </a>
    <span>{{curCartline.quantity}}</span>
    <a class="btn-floating btn teal grey tablet-none" (click)="addItem()">
      <i class="material-icons">add</i>
    </a>
  </div>

  <div class="item-whole-price tablet-none">
    <span *ngIf="curCartline.product.allPrice > 0">{{(curCartline.product.allPrice*curCartline.quantity)| currency: "BYN": "code-narrow"}}</span>
    <span *ngIf="curCartline.product.allPrice == 0">нет данных</span>
  </div>
  <div class="item-discount tablet-none">
    <span *ngIf="curCartline.product.discount == 0">&ndash;</span>
    <span *ngIf="curCartline.product.discount > 0">{{((curCartline.product.allPrice - curCartline.product.totalPrice)*curCartline.quantity) | currency: "BYN": "code-narrow"}}</span><br>
    <span *ngIf="curCartline.product.discount > 0">({{curCartline.product.discount}} %)</span>

  </div>
  <div class="item-discount-price">
    <span>{{(curCartline.product.totalPrice*curCartline.quantity)| currency: "BYN": "code-narrow"}}</span><br>
  </div>
  <div class="promotional-deadline tablet-none"></div>
  <div class="bin-item">
    <a class="deleteCartLine" (click)="deleteCartLine()">
      <i class="material-icons grey-text text-darken-1">delete_forever</i>
    </a>
  </div>
</div>
