.cart-line{
  display:flex;
}

.item-whole-price, .item-discount-price, .promotional-deadline, .arrow-item, .bin-item, .item-quantity, .item-discount, .item-position {
  flex: 1;
  text-align: center;
}

.item-quantity, .item-discount {
  flex: 2;
}

.item-quantity {
  user-select: none;
}

.item-name-comment {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
}

.item-image {
  flex: 1;
  height: 80px;
  padding: 5px;
  align-self: center;
}
.item-image img {
  display: block;
  width: 100%;
}

.item-whole-price, .item-discount-price, .promotional-deadline, .arrow-item, .bin-item, .item-quantity, .item-discount, .item-position {
  flex: 1;
  text-align: center;
}

.btn-floating {
  transform: scale(0.5);
}

.isTablet {
  .tablet-none {
    display: none;
  }
  .item-image {
    flex: .7;
  }
}

.isMobile {
  .mobile-none {
    display: none;
  }
}